{% include 'includes/header.html' %}

<div id="page-wrapper">

    <div class="row">
        <h1 class="page-header"><i class='fa fa-wifi 5x'></i> Attack on {{ ssid }} Started Successfully</h1>
        <!-- /.col-lg-12 -->
    </div>
    <div id="loader"></div>
    <div class="row">
        <div class="col-md-9 col-lg-9">
           <div id="status"></div>
            <div id="packets"></div>
            <div id="password"></div>
        </div>
    </div>

</div>



{% include 'includes/tail.html' %}
<script src="//fgnass.github.io/spin.js/spin.min.js"></script>
<script>
    var opts = {
        lines: 13 // The number of lines to draw
            ,
        length: 28 // The length of each line
            ,
        width: 14 // The line thickness
            ,
        radius: 42 // The radius of the inner circle
            ,
        scale: 1 // Scales overall size of the spinner
            ,
        corners: 1 // Corner roundness (0..1)
            ,
        color: '#000' // #rgb or #rrggbb or array of colors
            ,
        opacity: 0.25 // Opacity of the lines
            ,
        rotate: 0 // The rotation offset
            ,
        direction: 1 // 1: clockwise, -1: counterclockwise
            ,
        speed: 1 // Rounds per second
            ,
        trail: 60 // Afterglow percentage
            ,
        fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
            ,
        zIndex: 2e9 // The z-index (defaults to 2000000000)
            ,
        className: 'spinner' // The CSS class to assign to the spinner
            ,
        top: '50%' // Top position relative to parent
            ,
        left: '50%' // Left position relative to parent
            ,
        shadow: false // Whether to render a shadow
            ,
        hwaccel: false // Whether to use hardware acceleration
            ,
        position: 'absolute' // Element positioning
    }
    $.ajaxSetup({
        beforeSend: function () {
            var target = document.getElementById('loader');
            var spinner = new Spinner(opts).spin(target);
        },
        complete: function () {
            $('#loader').remove();
        },
        success: function () {}
    });
</script>
<script>
    function getPassword() {
        
        $.getJSON("/getPassword", function (response) {
            
            if(response.password) {
            
                    $("#password").html("<h1> The password is: " + response.password + " </h1>");
                
            }
            
        });
    }
    $(function () {


        console.log("Started");

        setTimeout(function () {}, 3000);

        var time_two = setInterval(function() {
            
            $.getJSON("/getStatus", function (response) {

                
                $("#status").html("<h2>" + response.currentAttackName + "</h2>");

            }); // matches getJSON

            
            
        }, 5000);
        
        var time = setInterval(function() {
            
            $.getJSON("/getPackets", function (response) {

                console.log(response);
                $("#packets").html("");
                $("#packets").append("<h2> IVs Collected: " + response.ivs + "</h2>");
                $("#packets").append("<h2> Last IVs: " + response.last_ivs + "</h2>");
                $("#packets").append("<h2> Current Rate in Packets/sec: " + response.rate + "</h2>");

                if (response.ivs > 10000) {
                    

                    $("#packets").append("<h2 style='color:\"#428bca\"'>Over 10k IVs collected </h2>");
                    
                    var passwordTime = setInterval(function () {
                        
                        getPassword();
                        
                    }, 2000);
                    
                    
                    clearInterval(time);
                    clearInterval(time_two);
                    
                }

            }); // matches getJSON
            
        }, 5000);
        
        
        



    }); // matches $(function......
</script>
</body>

</html>