{% include 'includes/header.html' %}

<div id="page-wrapper">
    
    <div class="row">
        <h1 class="page-header"><i class='fa fa-wifi 5x'></i> Network Analysis and Monitoring</h1>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-9 col-lg-9">
        <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for element in availableAPs %}
      <tr>
	<td>{{ element }}</td>
	<td><button class="btn btn-success">Start</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
   </div>
    </div>
    
</div>



{% include 'includes/tail.html' %}
</body>

</html>
